.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2, h3 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.top-10-gbi {
    float: left;
    width: 20%;
    margin-right: 20px;
}

.top-10-gbi h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.top-10-gbi ul {
    list-style-type: none;
    padding: 0;
}

.top-10-gbi li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.filters {
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-size: 16px;
    color: #555;
}

select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.player-list-section, .tracked-players {
    width: 37%;
}

.player-list-section h3, .tracked-players h3 {
    text-align: center;
    margin-bottom: 10px;
}

.player-list, .tracked-players ul {
    list-style-type: none;
    padding: 0;
}

.player-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
}

.player-item strong {
    color: #000;
    font-size: 18px;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content h2 {
    margin-bottom: 20px;
    color: #333;
}

.player-details {
    text-align: left;
    width: 100%;
}

.player-details p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

.close-modal-button {
    margin-top: 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.close-modal-button:hover {
    background-color: #c82333;
}

